.formContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background-color: white;
    padding: 2rem;
    border-radius: 5px;
}

.labels {
    display: flex;
    flex-direction: column;
}

.inputs {
    border: none;
    background-color: #e9e9e9;
    padding: 10px;
    width: 300px;
    border-radius: 5px;
    outline-style: solid 1px rgba(96,165,250,1) 50%;
    outline-color: #60a5fa;
}

.button {
    background-color: #60a5fa;
    border: none;
    width: 320px;
    padding: 10px;
    border-radius: 5px;
    color:  white;
    font-weight: 600;
    font-family: 'Poppins';
    margin-top: 10px;
    transition: all 300ms;
}

.button:hover {
    scale: 1.05;
    cursor: pointer;
    background-color: #3b82f6;
}

.error {
    color: red;
    background-color: white;
    border-radius: 5px;
    width: 374px;
    padding: 5px;
    text-align: center;
}